html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'DM Sans', sans-serif;
   margin: 0;
}

header {
    background-color: lemonchiffon;
   }



.header {
    text-align: center;
    font-size: x-large;
    height: 25%;
   
}


footer {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    background-color: lemonchiffon;
}

.game-area {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    
    

}


.control {
    display:inline-block;
    width: 80px;
    height: 75px;
    margin: 2px;
}

#messages {
    height: 20px;
    margin-top: 20px;
    font-size: x-large;
    
}

.player {
    background-color: rgb(75, 205, 232);
    width: 45%;
    float: left;
    margin-top: 100px;
   
  
  
}

#holder { 
    
    display: flex;
    justify-content: space-around;
}

.computer {
    background-color: rgb(232, 230, 71);
    float: right;
    width: 45%;
    margin-top: 100px;
    
    
}
#player-image {
    width: 45%;
  
  

}

#computer-image {
    width: 45%;
  
    
}

