html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'DM Sans', sans-serif;
   margin: 0;



}
.header {
    text-align: center;
    font-size: x-large;
}

footer {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;

}

.game-area {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    height: 50%;

}

.control {
    display:inline-block;
    width: 80px;
    height: 50px;
    margin: 2px;
}

#message {
    height: 20px;
}

.player {
    background-color: lightgreen;
    width: 45%;
    float: left;
}

.computer {
    background-color: gray;
    float: right;
    width: 45%;
}
#player-image {
    width: 45%;
}

#computer-image {
    width: 45%;
}